<div class="movies-container">
  <div class="filters-container">
    <div class="search-query">
      <form name="form" (ngSubmit)="f.form.valid && getMovies()" #f="ngForm">
        <input
          type="text"
          name="query"
          class="search-input"
          placeholder="Wprowadź tytuł"
          [(ngModel)]="query"
          (ngModelChange)="f.form.valid && getMovies()"
          pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9]*"
          #q="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && q.errors }"
          autocomplete="off"
        />
        <button class="btn fas fa-search search-button"></button>
        <div class="invalid-feedback" *ngIf="q.errors && f.submitted">
          <div *ngIf="q.errors['pattern']">Zawiera niedozwolone znaki!</div>
        </div>
      </form>
    </div>
    <div class="search-select">
      <mat-form-field>
        <mat-label>Gatunki</mat-label>
        <mat-select [(ngModel)]="selectedGenre" (ngModelChange)="getMovies()">
          <mat-option (onDeSelect)="onGenreDeSelect()">Wszystkie</mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre.id">
            {{ genre.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-select">
      <mat-form-field>
        <mat-label>Sortowanie</mat-label>
        <mat-select [(ngModel)]="sort" (ngModelChange)="getMovies()">
          <mat-option (onDeSelect)="onSortDeSelect()">Brak</mat-option>
          <mat-option *ngFor="let sort of sortFields" [value]="sort.itemArray">
            {{ sort.itemName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="cards-container" *ngIf="count">
    <div
      class="cards"
      *ngFor="
        let movie of movies!
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      "
    >
      <div class="card-view">
        <a href="/movies/{{ movie.id }}">
          <img class="background-image card-header" src="{{ movie.image }}" />
        </a>

        <div class="card-movie-content">
          <div class="card-movie-content-head">
            <div>
              <h1 class="card-movie-title">
                {{ movie.title }}
              </h1>
              <span class="card-movie-author">{{ movie.author }}</span>
            </div>
            <div class="card-movie-price">
              <span class="card-movie-price-box">{{ movie.price }} PLN</span>
            </div>
          </div>
          <div class="card-movie-info">
            <div
              class="card-movie-content-bottom"
              *ngIf="movie.genres?.length! < 4"
            >
              <span
                class="card-movie-genres"
                *ngFor="let genre of movie.genres"
                >{{ genre.name }}</span
              >
            </div>
            <div
              class="card-movie-content-bottom"
              *ngIf="movie.genres?.length! > 3"
            >
              <span class="card-movie-genres">{{ movie.genres![0].name }}</span>
              <span class="card-movie-genres">{{ movie.genres![1].name }}</span>
              <span class="card-movie-genres">{{ movie.genres![2].name }}</span>
              <span class="card-movie-genres"
                >+{{ movie.genres?.length! - 3 }}</span
              >
            </div>
            <div class="card-movie-content-bottom">
              <a class="favourite" *ngIf="currentUser?.id"
                ><i
                  class="material-icons"
                  (click)="updateFavoriteMovie(movie.id)"
                  [ngClass]="
                    isFavorite(movie.id) ? 'isFavorite' : 'setFavorite'
                  "
                  >favorite</i
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="paginate-container" *ngIf="count">
    <div>
      <pagination-controls
        class="pagination"
        nextLabel=""
        previousLabel=""
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
        [directionLinks]="true"
        [autoHide]="true"
      ></pagination-controls>
    </div>
    <div class="page-size">
      <select class="select" (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          <span>{{ size }}</span>
        </option>
      </select>
    </div>
    <div class="page-total-size">
      <span class="select">
        <span>{{ movies.length }} / {{ count }}</span>
      </span>
    </div>
  </div>

  <div class="empty" *ngIf="!count">
    <span>Brak filmów do wyświetlenia</span>
  </div>
</div>
