* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

a {
  text-decoration: none;
  color: inherit;
}
.users-container {
  padding-bottom: 100px;
  padding-top: 30px;

  .list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px;

    .mat-table ::ng-deep {
      .mat-header-row {
        background-color: rgba(128, 128, 128, 0.9);

        .mat-header-cell {
          font-size: 15px !important;
          font-weight: 900 !important;
        }
      }
      .mat-row {
        background-color: rgba(128, 128, 128, 0.2);
        td.mat-cell {
          word-break: break-word;
          .mat-button {
            min-width: 24px;
            padding: 0 16;
          }
        }
        td.mat-cell:last-of-type {
          padding-right: 0;
        }
      }
    }

    table {
      width: 80%;
    }

    @media screen and (max-width: 768px) {
      table {
        margin: 20px 0 20px 0;
      }

      .mat-table ::ng-deep .mat-row td.mat-cell .mat-button {
        padding: 0 5px;
      }
    }

    @media screen and (max-width: 480px) {
      table {
        width: 95%;
      }
    }
  }

  .filters-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .search-query {
      position: relative;

      .search-input {
        width: 350px;
        height: 50px;
        padding: 10px;
        padding-right: 60px;
        background: inherit;

        box-sizing: border-box;
        border: 2px solid rgba(128, 128, 128, 0.8);

        &:focus {
          outline: none;
        }
      }
      .search-button {
        position: absolute;
        right: 0;
        height: 50px;
        border-left: 2px solid rgba(128, 128, 128, 0.2);
        color: rgba(128, 128, 128, 0.8);
        border-radius: 0;
        font-size: 25px;
        line-height: 1.5;
      }
    }

    .search-select {
      width: 200px;
      max-height: 50px;
      height: 50px;
      margin-left: 10px;
      font-size: 14px;

      .mat-mdc-form-field {
        display: unset;

        ::ng-deep .mdc-text-field--filled {
          background-color: inherit !important;
          height: 50px;
          border: 2px solid rgba(128, 128, 128, 0.8);
          border-radius: 0;
        }

        mat-label {
          color: rgba(128, 128, 128, 0.8);
        }

        ::ng-deep .mat-mdc-select-arrow {
          color: rgba(128, 128, 128, 0.8);
        }

        ::ng-deep .mdc-text-field--filled {
          .mdc-line-ripple::after {
            border-bottom-width: 0;
          }
          .mdc-line-ripple::before {
            border-bottom-width: 0;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .search-query {
        width: 80%;

        .search-input {
          width: 100%;
        }
      }

      .search-select {
        width: 80%;
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }

  .paginate-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;

    .page-size {
      .select {
        font-size: 20px;
        border: 2px solid rgba(128, 128, 128, 0.2);
        background-color: inherit;
        margin: 4px;
        height: 40px;

        option {
          background: rgba(128, 128, 128, 0.2);
        }

        .ng-star-inserted {
          background: rgba(128, 128, 128, 0.2);
          text-align: center;
        }
      }
    }

    .page-total-size {
      font-size: 20px;
      border: 2px solid rgba(128, 128, 128, 0.2);
      background-color: inherit;
      margin: 4px;
      padding: 4px;
      height: 40px;
    }

    .pagination ::ng-deep .ngx-pagination {
      padding: 0;
      .current {
        background-color: rgba(128, 128, 128, 0.2);
      }

      li {
        font-size: 20px;
        border: 2px solid rgba(128, 128, 128, 0.2);
        margin: 4px;
      }

      li.small-screen {
        padding: 3px 10px;
      }

      a {
        text-decoration: none;
      }

      li:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        box-shadow: 0px 0px 80px -25px black;
      }

      .pagination-next {
        a:after {
          content: ">";
        }
        &.disabled::after {
          content: ">";
        }
      }

      .pagination-previous {
        a:before {
          content: "<";
        }

        &.disabled::before {
          content: "<";
        }
      }
    }
  }

  .empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;

    span {
      font-size: 30px;
      font-weight: 500;
    }

    @media screen and (max-width: 768px) {
      span {
        font-size: 22px;
      }
    }
  }
}
