<div class="users-container" *ngIf="isLogged && !isUser">
  <div class="filters-container">
    <div class="search-query">
      <input
        type="text"
        class="search-input"
        placeholder="Wyszukaj użytkownika"
        [(ngModel)]="textSearched"
        (ngModelChange)="getUsers()"
      />
      <i
        class="btn fas fa-search search-button"
        type="button"
        (click)="getUsers()"
      ></i>
    </div>

    <div class="search-select">
      <mat-form-field>
        <mat-label>Typ</mat-label>
        <mat-select
          [(ngModel)]="selectedRole"
          (ngModelChange)="onItemSelect($event)"
        >
          <mat-option (onDeSelect)="onTypeDeSelect()">Wszystkie</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-select">
      <mat-form-field>
        <mat-label>Sortowanie</mat-label>
        <mat-select
          [(ngModel)]="sort"
          (ngModelChange)="onSortSelect($event)"
        >
          <mat-option (onDeSelect)="onSortDeSelect()">Brak</mat-option>
          <mat-option *ngFor="let sort of sortFields" [value]="sort.itemArray">
            {{ sort.itemName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="list-container" *ngIf="count">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container
        [matColumnDef]="column"
        *ngFor="
          let column of displayedColumns
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                }
        "
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ changeColumnHeader(column) }}
        </th>
        <ng-container *ngIf="column == 'role'">
          <td mat-cell *matCellDef="let row">
            {{ row.role.name }}
          </td>
        </ng-container>
        <ng-container *ngIf="column != 'role'">
          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-button
            *ngIf="row.role.id !== 3"
            (click)="deleteUser(row['id'])"
            title="Usuń"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="set">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            *ngIf="row.role.id !== 3"
            mat-button
            (click)="changeRole(row)"
            title="Zmień typ"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns.concat(['del', 'set'])"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let emprow;
          columns: displayedColumns.concat(['del', 'set'])
        "
      ></tr>
    </table>
  </div>

  <div class="paginate-container" *ngIf="count">
    <div>
      <pagination-controls
        class="pagination"
        nextLabel=""
        previousLabel=""
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
        [directionLinks]="true"
        [autoHide]="true"
      ></pagination-controls>
    </div>
    <div class="page-size">
      <select class="select" (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          <span>{{ size }}</span>
        </option>
      </select>
    </div>
    <div class="page-total-size">
      <span class="select">
        <span>{{ users.length }} / {{ count }}</span>
      </span>
    </div>
  </div>

  <div class="empty" *ngIf="!count">
    <span>Brak użytkowników do wyświetlenia</span>
  </div>
</div>
