.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: rgb(0, 0, 0, 0.9);
  padding: 16px 0 0 0;
  -webkit-box-shadow: 0px 10px 10px #a30000;
  -moz-box-shadow: 0px 10px 10px #a30000;
  box-shadow: 0px 1px 50px #a30000;

  .toolbar-first-line {
    display: flex;
    justify-content: center;

    .logo {
      width: 240px;

      img {
        width: 80%;

        &:hover {
          transition: color 0.3s;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }

    span {
      margin: 1%;
      color: #a30000;

      &:hover {
        border-bottom: 1px solid #a30000;
        transition: color 0.3s;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
      }
    }

    @media screen and (max-width: 480px) {
      .isDesktop {
        display: none;
      }
    }
    @media screen and (min-width: 481px) {
      .isMobile {
        display: none;
      }
    }
  }
}

::ng-deep .dialog {
  mat-dialog-container {
    padding: 0;
  }
}
