<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar-first-line" routerLinkActive="active">
    <a routerLink="" class="logo"><img src="assets/logo.png" /></a>

    <span class="spacer"></span>

    <span
      mat-raised-button
      class="isDesktop"
      (click)="openMovieDialog()"
      *ngIf="isAdmin || isManager"
      title="Dodawanie filmu"
    >
      <mat-icon>post_add</mat-icon>
    </span>

    <span
      mat-raised-button
      class="isDesktop"
      (click)="openGenreDialog()"
      *ngIf="isAdmin || isManager"
      title="Gatunki filmowe"
    >
      <mat-icon>category</mat-icon>
    </span>

    <span
      routerLink="/users"
      *ngIf="isAdmin"
      class="isDesktop"
      title="Użytkownicy"
    >
      <mat-icon>groups</mat-icon>
    </span>

    <span
      routerLink="/favorite"
      *ngIf="isLoggedIn"
      class="isDesktop"
      title="Moja lista"
      ><mat-icon>favorite</mat-icon></span
    >

    <span class="spacer"></span>

    <span
      routerLink="/profil"
      *ngIf="isLoggedIn"
      class="isDesktop"
      title="Profil"
    >
      <mat-icon>account_circle</mat-icon>
    </span>

    <span
      routerLink="/login"
      *ngIf="!isLoggedIn"
      class="isDesktop"
      title="Zaloguj"
    >
      <mat-icon>login</mat-icon>
    </span>

    <span
      routerLink="/register"
      *ngIf="!isLoggedIn"
      class="isDesktop"
      title="Rejestracja"
    >
      <mat-icon color="red">person_add</mat-icon>
    </span>

    <span
      (click)="logout()"
      *ngIf="isLoggedIn"
      class="isDesktop"
      title="Wyloguj"
    >
      <mat-icon>logout</mat-icon>
    </span>

    <span [matMenuTriggerFor]="mobileMenu" class="isMobile" title="Moja lista">
      <mat-icon>more_vert</mat-icon>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #mobileMenu="matMenu">
  <button mat-menu-item routerLink="">
    <mat-icon>home</mat-icon><span>Główna</span>
  </button>

  <button mat-menu-item routerLink="/login" *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon><span>Logowanie</span>
  </button>

  <button mat-menu-item routerLink="/register" *ngIf="!isLoggedIn">
    <mat-icon>person_add</mat-icon><span>Rejestracja</span>
  </button>

  <button mat-menu-item routerLink="/profil" *ngIf="isLoggedIn">
    <mat-icon>account_circle</mat-icon><span>Profil</span>
  </button>

  <button mat-menu-item routerLink="/favorite" *ngIf="isLoggedIn">
    <mat-icon>favorite</mat-icon><span>Moja lista</span>
  </button>

  <button
    mat-menu-item
    (click)="openMovieDialog()"
    *ngIf="isAdmin || isManager"
    title="Dodawanie filmu"
  >
    <mat-icon>post_add</mat-icon><span>Dodawanie Filmu</span>
  </button>

  <button
    mat-menu-item
    (click)="openGenreDialog()"
    *ngIf="isAdmin || isManager"
    title="Gatunki filmowe"
  >
    <mat-icon>category</mat-icon><span>Gatunki filmowe</span>
  </button>

  <button mat-menu-item routerLink="/users" *ngIf="isAdmin">
    <mat-icon>groups</mat-icon><span>Użytkownicy</span>
  </button>

  <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">
    <mat-icon>logout</mat-icon><span>Wyloguj</span>
  </button>
</mat-menu>
