<div class="container" *ngIf="isLoggedIn">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Profil">
      <div class="box mat-elevation-z4">
        <table class="userDataTable">
          <tbody>
            <tr>
              <td>Nazwa użytkownika:</td>
              <td class="tdData">{{ user?.username }}</td>
            </tr>
            <tr>
              <td>Adres email:</td>
              <td class="tdData">{{ user?.email }}</td>
            </tr>
            <tr>
              <td>Imię:</td>
              <td class="tdData">{{ user?.name }}</td>
            </tr>
            <tr>
              <td>Naziwsko:</td>
              <td class="tdData">{{ user?.lastName }}</td>
            </tr>
            <tr>
              <td>Adres:</td>
              <td class="tdData">{{ user?.address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Konto">
      <div class="box mat-elevation-z4">
        <table class="userDataTable">
          <tbody>
            <tr>
              <td>Edycja danych</td>
              <td class="tdData">
                <button
                  class="btn btn-secondary px-3 actionButton"
                  (click)="openUpdateDetailsUserDialog()"
                >
                  Edytuj
                </button>
              </td>
            </tr>
            <hr />
            <tr>
              <td>Zmiana hasła</td>
              <td class="tdData">
                <button
                  class="btn btn-secondary px-3 actionButton"
                  (click)="openUpdatePasswordUserDialog()"
                >
                  Zmień hasło
                </button>
              </td>
            </tr>
            <hr />
            <tr>
              <td>Zmiana adresu email</td>
              <td class="tdData">
                <button
                  class="btn btn-secondary px-3 actionButton"
                  (click)="openUpdateEmailUserDialog()"
                >
                  Zmień email
                </button>
              </td>
            </tr>
            <hr />
            <tr>
              <td>Generownie QR kodu</td>
              <td class="tdData">
                <button
                  class="btn btn-secondary px-3 actionButton"
                  (click)="openChangeQrCodeDialog()"
                >
                  Generuj QR
                </button>
              </td>
            </tr>
            <hr />
            <tr>
              <td>Usuwanie konta</td>
              <td class="tdData">
                <button
                  class="btn btn-secondary px-3 actionButton"
                  (click)="deleteUser(currentUser!.id)"
                >
                  Usuń
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
