.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;

  ::ng-deep .mat-ink-bar {
    background-color: gray !important;
  }

  .userDataTable {
    border-collapse: separate;
    border-spacing: 20px 5px;
    word-break: break-word;

    .tdData {
      padding-left: 10px;

      .actionButton {
        width: 120px;
      }
    }
  }

  .box {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;

    .box-section {
      margin-top: 10px;
    }

    .parent {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 300px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    .userDataTable {
      border-spacing: 0px 10px;
    }
  }
}
