::ng-deep .mat-dialog-container {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 768px;
    min-width: 400px;
    height: auto;
    margin: auto;

    .card-body {
      min-width: 231px;
    }
    .card-image {
      display: flex;
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 768px;
    height: auto;
    margin: 0;

    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }

    .card-body {
      min-width: unset;
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 900px;
    height: auto;
    margin: 0;
  }
}

.container {
  .text-muted {
    color: grey !important;
  }

  .form-group {
    label {
      margin-bottom: 0;
    }

    .qrCodeFrame {
      width: fit-content;
      margin: auto;
      margin-top: 10px
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
    }
  }

  .buttons-row {
    margin-top: 15px;
  }
}
