<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-group mb-0">
        <div class="card p4">
          <div class="card-body">
            <form
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <p class="text-muted" *ngIf="isDetails">
                Wprowadź dane użytkownika
              </p>
              <p class="text-muted" *ngIf="isPassword">Wprowadź dane haseł</p>
              <p class="text-muted" *ngIf="isEmail">
                Wprowadź nowy adres email
              </p>
              <!-- name -->
              <div class="form-group" *ngIf="isDetails">
                <label>Imię</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź imię"
                  [(ngModel)]="user!.name"
                  #name="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
                  name="name"
                  pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9]*"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="name.errors && f.submitted"
                >
                  <div *ngIf="name.errors['pattern']">
                    Zawiera niedozwolone znaki!
                  </div>
                </div>
              </div>
              <!-- lastName -->
              <div class="form-group" *ngIf="isDetails">
                <label>Nazwisko</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź nazwisko"
                  [(ngModel)]="user!.lastName"
                  #lastName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }"
                  name="lastName"
                  pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9-]*"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="lastName.errors && f.submitted"
                >
                  <div *ngIf="lastName.errors['pattern']">
                    Zawiera niedozwolone znaki!
                  </div>
                </div>
              </div>
              <!-- address -->
              <div class="form-group" *ngIf="isDetails">
                <label>Adres</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź adres"
                  [(ngModel)]="user!.address"
                  #address="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && address.errors }"
                  name="address"
                  pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9,.\/ -]*"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="address.errors && f.submitted"
                >
                  <div *ngIf="address.errors['pattern']">
                    Zawiera niedozwolone znaki!
                  </div>
                </div>
              </div>

              <!-- email address -->
              <div class="form-group" *ngIf="isEmail">
                <label>Email</label>
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Twój adres email"
                  [(ngModel)]="user!.email"
                  email
                  required
                  #email="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="email.errors && f.submitted"
                >
                  <div *ngIf="email.errors['email']">
                    Nieporawna składnia adresu email np. user@user.pl
                  </div>
                  <div *ngIf="email.errors['required']">
                    Adres email jest wymagany
                  </div>
                </div>
              </div>

              <!-- CurrentPassword -->
              <div class="form-group" *ngIf="isPassword">
                <label>Obecne hasło</label>
                <input
                  class="form-control"
                  type="password"
                  id="currentPassword"
                  name="currentPassword"
                  placeholder="Wprowadź obecne hasło"
                  [(ngModel)]="newUserPassword!.currentPassword"
                  required
                  #currentPassword="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && currentPassword.errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="currentPassword.errors && f.submitted"
                >
                  <div *ngIf="currentPassword.errors['required']">
                    Obecne hasło jest wymagane
                  </div>
                </div>
              </div>

              <!-- newPassword -->
              <div class="form-group" *ngIf="isPassword">
                <label>Nowe hasło</label>
                <input
                  class="form-control"
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  placeholder="Wprowadź nowe hasło"
                  [(ngModel)]="newUserPassword.newPassword"
                  required
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
                  #newPassword="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && newPassword.errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="newPassword.errors && f.submitted"
                >
                  <div *ngIf="newPassword.errors['required']">
                    Nowe hasło jest wymagane
                  </div>
                  <div *ngIf="newPassword.errors['pattern']">
                    Hasło musi zawierać minimum 6 znaków, co najmniej jedną
                    wielką literę, cyfrę oraz znak specjalny
                  </div>
                </div>
              </div>

              <!-- newConfirmPassword -->
              <div class="form-group" *ngIf="isPassword">
                <label>Potwierdź nowe hasło</label>
                <input
                  class="form-control"
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Wprowadź ponownie nowe hasło"
                  [(ngModel)]="confirmPassword"
                  required
                  #confirm="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && confirm.errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="confirm.errors && f.submitted"
                >
                  <div *ngIf="confirm.errors['required']">
                    Potwierdzenie hasła jest wymagane
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="isQrCode">
                <label class="alert-danger"
                  >Uwaga! Poprzedni kod jest już nie aktywny!</label
                ><br />
                <label>Wprowadz kod 2FA</label>
                <input
                  class="form-control"
                  type="text"
                  id="qrCodeId"
                  name="qrCodeId"
                  placeholder="Kod 2FA"
                  [(ngModel)]="qrCode"
                  required
                  pattern="[0-9]{6,}"
                  #qrCodeId="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && qrCodeId.errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="qrCodeId.errors && f.submitted"
                >
                  <div
                    *ngIf="
                      qrCodeId.errors['required'] ||
                      qrCodeId.errors['pattern'] ||
                      !isSuccessful
                    "
                  >
                    Błędny kod 2F!
                  </div>
                </div>
                <div *ngIf="qrCodeUrl" class="qrCodeFrame">
                  <img [src]="qrCodeUrl" alt="QR Code" />
                </div>
              </div>

              <div class="row buttons-row form-group">
                <div class="col-6 text-center">
                  <button class="btn btn-secondary px-3">Dodaj</button>
                </div>
                <div class="col-6 text-center">
                  <button class="btn btn-secondary px-3" mat-dialog-close>
                    Anuluj
                  </button>
                </div>
              </div>

              <div class="form-group">
                <div
                  *ngIf="f.submitted && !isSuccessful && f.errors"
                  class="alert alert-danger"
                  role="alert"
                >
                  Błąd modyfikacji
                </div>

                <div
                  *ngIf="f.submitted && !isSuccessful && isQrCode"
                  class="alert alert-danger"
                  role="alert"
                >
                  Błędny kod 2FA
                </div>
              </div>
            </form>
          </div>

          <div class="alert alert-success" *ngIf="isSuccessful">
            <span *ngIf="isDetails">
              Dane użytkownika zostały zaktualizowane
            </span>
            <span *ngIf="isPassword">
              <span>Hasło zostało zaktualizowane.</span>
            </span>
            <span *ngIf="isEmail">Adres email został zaktualizowany</span>
            <span *ngIf="isQrCode">Kod został zaktualizowany</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
