.router-outlet {
    overflow: auto;
    height: 100%;
    background: rgba(0,0,0,0.3);
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }