<div class="movies-container" *ngIf="isLogged">
  <div class="cards-container" *ngIf="count">
    <div
      class="cards"
      *ngFor="
        let movie of favoriteMovies!
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      "
    >
      <div class="card-view">
        <a href="/movies/{{ movie.id }}">
          <img class="background-image card-header" src="{{ movie.image }}" />
        </a>

        <div class="card-movie-content">
          <div class="card-movie-content-head">
            <div>
              <h1 class="card-movie-title">{{ movie.title }}</h1>
              <span class="card-movie-author">{{ movie.author }}</span>
            </div>
            <div class="card-movie-favorite">
              <a class="favorite" *ngIf="currentUser?.id"
                ><i
                  class="material-icons"
                  (click)="updateFavoriteMovie(movie.id)"
                  [ngClass]="
                    isFavorite(movie.id) ? 'isFavorite' : 'setFavorite'
                  "
                  >favorite</i
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="paginate-container" *ngIf="count">
    <div>
      <pagination-controls
        class="pagination"
        nextLabel=""
        previousLabel=""
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
        [directionLinks]="true"
        [autoHide]="true"
      ></pagination-controls>
    </div>
    <div class="page-size">
      <select class="select" (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          <span>{{ size }}</span>
        </option>
      </select>
    </div>
  </div>

  <div class="empty" *ngIf="!count">
    <span>Brak ulubionych filmów do wyświetlenia</span>
  </div>
</div>
