@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600&display=swap";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.0.12/css/all.css";

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

a {
  text-decoration: none;
  color: inherit;
}

.movies-container {
  padding-bottom: 100px;
  padding-top: 30px;

  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .cards {
      height: auto;
      display: flex;

      .card-view {
        width: 200px;
        margin: 10px;
        border: 2px solid rgba(128, 128, 128, 0.2);
        border-radius: 10px;

        .background-image {
          background-size: cover;
        }
        .card-header {
          padding: 0;
          margin: 0;
          height: 150px;
          width: 100%;
          display: block;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom: 0;
        }
        .card-movie-content {
          padding: 10px 18px 10px 18px;
          margin: 0;

          .card-movie-content-head,
          .card-movie-info {
            display: table;
            width: 100%;
          }
          .card-movie-info {
            margin-top: 1em;

            .card-movie-content-bottom:first-of-type {
              text-align: left;
              display: flex;
              flex-wrap: wrap;
            }

            .card-movie-content-bottom:last-of-type {
              text-align: right;
            }

            .card-movie-content-bottom label {
              display: block;
              color: rgba(0, 0, 0, 0.5);
              margin-bottom: 0.5em;
              font-size: 9px;
            }

            .card-movie-content-bottom span {
              font-weight: 700;
              font-size: 11px;
              color: rgba(85, 85, 85, 1);
              padding: 5px;
              margin: 1px;
              border-radius: 5px;
              border: 1px solid rgba(0, 0, 0, 0.1);
            }
          }

          .card-movie-content-head {
            .card-movie-title {
              font-size: 14px;
              margin: 0;
              display: table-cell;
            }
            .card-movie-author {
              color: rgba(0, 0, 0, 0.5);
              font-size: 15px;
            }

            .card-movie-favorite {
              width: 50px;
              height: 15px;
              background-size: contain;
              display: table-cell;
              text-align: right;
              position: relative;
              font-weight: 600;

              .favorite {
                padding-left: 15px;
                padding-top: 15px;
                text-align: left;

                i {
                  transition: color 0.3s;
                  transition-delay: 0.15s;

                  &:hover {
                    transition: color 0.3s;
                    text-shadow: 0 0 5px rgba(128, 128, 128, 1);
                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                    cursor: pointer;
                  }
                  &:checked {
                    transition: color 0.3s;
                    text-shadow: 0 0 5px rgba(128, 128, 128, 1);
                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                  }
                }

                .isFavorite {
                  color: rgba(255, 0, 0, 0.5);
                }

                .setFavorite {
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
        }
      }

      .card-view:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        box-shadow: 0px 0px 80px -25px black;
      }

      @media screen and (max-width: 768px) {
        .card-view {
          margin-left: auto;
          margin-right: auto;
          display: block;
          max-width: 90%;
          min-width: 300px;
          margin: 10px;
        }
        .container {
          padding: 0;
          margin: 0;
          padding-bottom: 100px;
        }
      }
    }
  }

  .paginate-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;

    .page-size {
      .select {
        font-size: 20px;
        border: 2px solid rgba(128, 128, 128, 0.2);
        background-color: inherit;
        margin: 4px;
        height: 40px;

        option {
          background: rgba(128, 128, 128, 0.2);
        }

        .ng-star-inserted {
          background: rgba(128, 128, 128, 0.2);
          text-align: center;
        }
      }
    }

    .pagination ::ng-deep .ngx-pagination {
      padding: 0;
      .current {
        background-color: rgba(128, 128, 128, 0.2);
      }

      li {
        font-size: 20px;
        border: 2px solid rgba(128, 128, 128, 0.2);
        margin: 4px;
      }

      li.small-screen {
        padding: 3px 10px;
      }

      a {
        text-decoration: none;
      }

      li:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        box-shadow: 0px 0px 80px -25px black;
      }

      .pagination-next {
        a:after {
          content: ">";
        }
        &.disabled::after {
          content: ">";
        }
      }

      .pagination-previous {
        a:before {
          content: "<";
        }

        &.disabled::before {
          content: "<";
        }
      }
    }
  }

  .empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;

    span {
      font-size: 30px;
      font-weight: 500;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      span {
        font-size: 22px;
      }
    }
  }
}
