@use "@angular/material" as mat;
@include mat.core();

$spidermovieswebapp-primary: mat.define-palette(mat.$indigo-palette);
$spidermovieswebapp-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$spidermovieswebapp-warn: mat.define-palette(mat.$red-palette);

$spidermovieswebapp-theme: mat.define-light-theme(
  (
    color: (
      primary: $spidermovieswebapp-primary,
      accent: $spidermovieswebapp-accent,
    ),
  )
);

@include mat.all-component-themes($spidermovieswebapp-theme);
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.0.12/css/all.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "https://code.jquery.com/jquery-1.10.2.min.js";

html,
body {
  height: 100%;
  overflow: hidden;
}

.cdk-global-scrollblock {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog .mat-dialog-container {
  background-color: transparent !important;
  box-shadow: none;
  overflow: hidden;

  @media screen and (max-width: 575px) {
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
  }

  @media screen and (min-width: 576px) {
    overflow: auto;
  }
}
