::ng-deep .mat-dialog-container {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 768px;
    min-width: 400px;
    height: auto;
    margin: auto;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 768px;
    height: auto;
    margin: 0;
  }
}

.container {
  .card-body {
    min-height: 300px;
    min-width: 261px;

    .form-group {
      max-width: 342px;

      .search-genres {
        height: 38px;

        .mat-mdc-form-field {
          display: unset;
  
          ::ng-deep .mdc-text-field--filled {
            background-color: inherit !important;
            height: 50px;
            border: 1px solid rgba(128, 128, 128, 0.4);
            border-radius: 4px;
          }
  
          mat-label {
            color: rgba(128, 128, 128, 0.8);
          }
  
          ::ng-deep .mat-mdc-select-arrow {
            color: rgba(128, 128, 128, 0.8);
          }
  
          ::ng-deep .mdc-text-field--filled {
            .mdc-line-ripple::after {
              border-bottom-width: 0;
            }
            .mdc-line-ripple::before {
              border-bottom-width: 0;
            }
          }
        }
      }
    }
  }

  .text-muted {
    color: grey !important;
  }

  .buttons-row {
    margin-top: 130px;

    .deleteButton {
      margin-left: 10px;
    }
  }
}
