<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-group mb-0">
        <div class="card p4">
          <div class="card-body">
            <p class="text-muted">Gatunki filmowe</p>
            <div class="form-group">
              <div class="search-genres">
                <mat-form-field>
                  <mat-label>Wybierz gatunek</mat-label>
                  <mat-select [(ngModel)]="selectedGenre">
                    <mat-option (onDeSelect)="deSelectGenre()">-</mat-option>
                    <mat-option *ngFor="let genre of allGenres" [value]="genre">
                      {{ genre.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group" *ngIf="selectedGenre">
              <input
                type="text"
                class="form-control"
                placeholder="Wybierz gatunek"
                [ngModel]="selectedGenre.name"
                (ngModelChange)="updateNameGenre = $event"
              />
            </div>

            <div class="form-group" *ngIf="!selectedGenre">
              <input
                type="text"
                class="form-control"
                placeholder="Wprowadź gatunek"
                [(ngModel)]="newNameGenre"
              />
            </div>

            <div class="row buttons-row form-group">
              <div class="col-6 text-center" *ngIf="!selectedGenre">
                <button
                  class="btn btn-secondary px-3"
                  [disabled]="!newNameGenre"
                  (click)="addGenre()"
                >
                  Dodaj
                </button>
              </div>
              <div
                class="col-3 text-center"
                *ngIf="selectedGenre"
                (click)="updateGenre()"
              >
                <button class="btn btn-secondary px-3">Edytuj</button>
              </div>
              <div
                class="col-3 text-center"
                *ngIf="selectedGenre"
                (click)="deleteGenre()"
              >
                <button class="btn btn-secondary px-3 deleteButton">
                  Usuń
                </button>
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-secondary px-3" mat-dialog-close>
                  Anuluj
                </button>
              </div>
            </div>
          </div>

          <div class="alert alert-success" *ngIf="isDeleted">
            <span>Gatunek został usunięty!</span>
          </div>
          <div class="alert alert-danger" *ngIf="!isDeleted && content">
            <span>Gatunek jest używany!</span>
          </div>
          <div class="alert alert-danger" *ngIf="!isSaveGenre">
            <span>Nazwa gatunku zawiera niedozwolone znaki!</span>
          </div>
          <div class="alert alert-success" *ngIf="isAdded">
            <span>Gatunek został dodany!</span>
          </div>
          <div class="alert alert-success" *ngIf="isUpdated">
            <span>Gatunek został zmodyfikowany!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
