<div class="movie-container">
  <div class="movie">
    <div class="movie-image"><img src="{{ movie?.image }}" /></div>
    <div class="movie-details">
      <div class="movie-title">
        <span>
          {{ movie?.title }} ({{ movie?.releaseDate | date : "yyyy" }})
        </span>
      </div>
      <div class="movie-data">
        Autor:<br />
        <div class="movie-data-content">{{ movie?.author }}</div>
      </div>
      <hr />
      <div class="movie-data">
        Klasyfikacja wiekowa:<br />
        <div class="movie-data-content">
          Od {{ movie?.ageClassification }} lat
        </div>
      </div>
      <hr />
      <div class="movie-data">
        Data wydania:<br />
        <div class="movie-data-content">
          {{ movie?.releaseDate | date : "dd MMMM yyy" : "" : "pl" }}
        </div>
      </div>
      <hr />
      <div class="movie-data">
        Klasyfikacja wiekowa:<br />
        <div class="movie-data-content">
          {{ movie?.ageClassification }}
        </div>
      </div>
      <hr />
      <div class="movie-data">
        Gatunki:<br />
        <span class="movie-data-content" *ngFor="let genre of movie?.genres">
          {{ genre.name }}
        </span>
      </div>
      <hr />
      <div class="movie-data">
        Opis:<br />
        <div class="movie-data-content">{{ movie?.description }}</div>
      </div>
      <hr />
      <div class="movie-data">
        Cena<br />
        <div class="movie-data-content">{{ movie?.price }} PLN</div>
      </div>
      <div class="movie-buttons">
        <button (click)="openUpdateMovieDialog()" *ngIf="isAdmin || isManager">Edycja</button>
        <button *ngIf="isAdmin || isManager" (click)="deleteMovie(movie?.id!)">
          Usuń
        </button>
        <button routerLink="/">Powrót</button>
      </div>
    </div>
  </div>

  <ng-container #vcRef></ng-container>
  <ng-template #modalRef> </ng-template>
</div>
