.movie-container {
  display: flex;
  justify-content: center;
  overflow: auto;
  max-height: 85%;

  padding-top: 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
.movie {
  display: flex;
  justify-content: center;

  align-items: center;
}
.movie-image {
  width: 30%;

  margin-right: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  border-top: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.movie-details {
  width: 50%;
  padding: 10px;
  font-family: system-ui;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  border-top: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px 0 0 10px;
  position: relative;

  .movie-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
  }

  .movie-data {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    word-break: break-word;

    .movie-data-content {
      font-size: 15px;
      margin-left: 10px;
      color: rgba(85, 85, 85, 1);
    }
  }

  .movie-buttons {
    text-align: center;

    button {
      margin: 5px;
      padding: 5px;
      height: auto;
      border-bottom: 2px solid rgba(128, 128, 128, 0.5);
      border-top: 2px solid rgba(128, 128, 128, 0.5);
      border-left: 0;
      border-right: 0;
      border-radius: 10px;
      background: rgba(128, 128, 128, 0);

      &:hover {
        background: rgba(128, 128, 128, 0.2);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .movie-container {
    padding-top: 10px;

    .movie {
      display: block;
    }
    .movie-image {
      width: 80%;
      margin: auto;
      border-radius: 10px 10px 10px 0px;
      border-bottom: 0;
      border-top: 2px solid rgba(128, 128, 128, 0.5);
    }
    .movie-details {
      width: 80%;
      border-radius: 10px;
      border-top: 0;
      border-bottom: 2px solid rgba(128, 128, 128, 0.5);
      margin: auto;
    }
  }
}
