<div class="container">
  <div class="title" *ngIf="movieContent">Czy na pewno chcesz usunąć film?</div>
  <div class="title" *ngIf="userContent">
    Czy na pewno chcesz usunąć konto wraz z danymi?
  </div>
  <div class="title2" *ngIf="isWaiting">
    <mat-spinner></mat-spinner> Proszę czekać
  </div>
  <div class="title2" *ngIf="isOk">Udało się!</div>
  <div class="buttons">
    <button
      *ngIf="!isWaiting && !isOk"
      (click)="onYesClick()"
    >
      Tak
    </button>
    <button
      *ngIf="!isWaiting && !isOk"
      (click)="onNoClick()"
    >
      Nie
    </button>
    <button
      *ngIf="isOk"
      (click)="onYesClick()"
    >
      Ok
    </button>
  </div>
</div>
