.container {
  .title {
    font-weight: 500;
    color: red;
  }

  .title2 {
    font-weight: 500;
    color: black;

    .mat-progress-spinner {
      width: 50px !important;
      height: 50px !important;
      margin-left: auto;
      margin-right: auto;

      ::ng-deep svg {
        width: 50px !important;
        height: 50px !important;

        circle {
          stroke-width: 3% !important;
          stroke: gray;
          stroke-dasharray: 20 !important;
          animation-duration: 0ms !important;
        }
      }
    }
  }

  .buttons {
    text-align: center;

    button {
      margin: 15px;
      padding: 5px 10px 5px 10px;
      border-bottom: 2px solid rgba(128, 128, 128, 0.5);
      border-top: 2px solid rgba(128, 128, 128, 0.5);
      border-left: 0;
      border-right: 0;
      border-radius: 10px;
      background: rgba(128, 128, 128, 0);

      &:hover {
        background: rgba(128, 128, 128, 0.2);
      }
    }
  }
}
