::ng-deep .mat-dialog-container {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 768px;
    min-width: 400px;
    margin: auto;

    .image {
      max-width: 600px;
      min-width: unset;
      margin: auto;
      padding: 0;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      img {
        width: 80%;
        border-radius: 10px;
      }
    }

    .card-body {
      min-height: 457px;
      min-width: 231px;
    }
    .card-image {
      display: flex;
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 768px;
    height: auto;
    margin: 0;

    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }

    .card-body {
      min-width: unset;
    }

    .image {
      max-width: 600px;
      min-width: unset;
      min-height: unset;
      margin: auto;
      padding: 0;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    min-width: 900px;
    height: auto;
    margin: 0;

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .grid1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-right: 2px;
      }

      .grid2 {
        grid-area: 1 / 2 / 2 / 3;
        margin-right: 2px;
      }
    }
  }
}

.container {
  overflow: auto;
  height: 554px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  .text-muted {
    color: grey !important;
  }

  .image {
    max-width: 400px;
    margin: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      border-radius: 10px;
    }
  }
  .form-group {
    margin-bottom: 0 !important;

    label {
      margin-bottom: 0;
    }
  }

  .buttons-row {
    margin-top: 15px;
  }

  .search-genres {
    height: 38px;
    margin-bottom: 10px;

    .mat-mdc-form-field {
      display: unset;

      ::ng-deep .mdc-text-field--filled {
        background-color: inherit !important;
        height: 50px;
        border: 1px solid rgba(128, 128, 128, 0.4);
        border-radius: 4px;
      }

      mat-label {
        color: rgba(128, 128, 128, 0.8);
      }

      ::ng-deep .mat-mdc-select-arrow {
        color: rgba(128, 128, 128, 0.8);
      }

      ::ng-deep .mdc-text-field--filled {
        .mdc-line-ripple::after {
          border-bottom-width: 0;
        }
        .mdc-line-ripple::before {
          border-bottom-width: 0;
        }
      }
    }
  }
}
