<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-group mb-0">
        <div class="card p4">
          <div class="card-body">
            <form
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <!-- title -->
              <div class="form-group">
                <label>Tytuł</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź tytuł"
                  [(ngModel)]="movie!.title"
                  required
                  #title="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && title.errors }"
                  name="title"
                  pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9,.\/ -]*"
                />
                <div
                  *ngIf="title.errors && f.submitted"
                  class="invalid-feedback"
                >
                  <div *ngIf="title.errors['required']">Wprowadź tytuł</div>
                  <div *ngIf="title.errors['pattern']">
                    Zawiera niedozwolone znaki
                  </div>
                </div>
              </div>
              <!-- author -->
              <div class="form-group">
                <label>Autor</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź autora"
                  [(ngModel)]="movie!.author"
                  required
                  #author="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && author.errors }"
                  name="author"
                  pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9,.\/ -]*"
                />
                <div
                  *ngIf="author.errors && f.submitted"
                  class="invalid-feedback"
                >
                  <div *ngIf="author.errors['required']">Wprowadź autora</div>
                  <div *ngIf="author.errors['pattern']">
                    Zawiera niedozwolone znaki
                  </div>
                </div>
              </div>

              <!-- price -->
              <div class="form-group">
                <label>Cena (PLN)</label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  placeholder="Wprowadź cenę"
                  [(ngModel)]="movie!.price"
                  required
                  #price="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && price.errors }"
                  name="price"
                  min="0"
                />
                <div
                  *ngIf="price.errors && f.submitted"
                  class="invalid-feedback"
                >
                  <div *ngIf="price.errors['required']">Wprowadź cenę</div>
                  <div *ngIf="price.errors['min']">
                    Wartość nie może być mniejsza niż 0
                  </div>
                </div>
              </div>
              <!-- Age and date -->
              <div class="grid">
                <!-- Age -->
                <div class="form-group grid1">
                  <label>Klasyfikacja wiekowa</label>
                  <input
                    type="number"
                    step="1"
                    class="form-control"
                    placeholder="Wprowadź wiek"
                    [(ngModel)]="movie!.ageClassification"
                    required
                    #age="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && age.errors }"
                    name="age"
                    min="0"
                    max="18"
                  />
                  <div
                    *ngIf="age.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    <div *ngIf="age.errors['required']">Wprowadź wiek</div>
                    <div *ngIf="age.errors['min']">
                      Wartość nie może być mniejsza niż 0
                    </div>
                    <div *ngIf="age.errors['max']">
                      Wartość nie może być większa niż 18
                    </div>
                  </div>
                </div>
                <!-- data -->
                <div class="form-group grid2">
                  <label>Data wydania</label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Wybierz datę"
                    [(ngModel)]="movie!.releaseDate"
                    required
                    #date="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && date.errors }"
                    value="date"
                    name="date"
                    max="{{ currentDate }}"
                    required
                  />
                  <div
                    *ngIf="date.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    <div *ngIf="date.errors['required']">Wybierz datę</div>
                  </div>
                </div>
              </div>
              <!-- genres -->
              <div class="form-group">
                <label>Gatunki</label>
                <div class="search-genres">
                  <mat-form-field>
                    <mat-label>Wybierz gatunek</mat-label>
                    <mat-select
                      [(ngModel)]="movie!.genres"
                      [compareWith]="compareGenre"
                      name="genres"
                      multiple
                    >
                      <mat-option
                        *ngFor="let genre of allGenres"
                        [value]="genre"
                      >
                        {{ genre.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- img -->
              <div class="form-group">
                <label>Obraz</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź link obrazu"
                  [(ngModel)]="movie!.image"
                  required
                  #image="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && image.errors }"
                  name="image"
                />
                <div
                  *ngIf="image.errors && f.submitted"
                  class="invalid-feedback"
                >
                  <div *ngIf="image.errors['required']">
                    Wprowadź link obrazu
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Opis</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Wprowadź opis"
                  [(ngModel)]="movie!.description"
                  required
                  #description="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && description.errors
                  }"
                  name="description"
                  maxlength="1000"
                  pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9,.\/ -]*"
                />
                <div
                  *ngIf="description.errors && f.submitted"
                  class="invalid-feedback"
                >
                <div *ngIf="description.errors['required']">Wprowadź opis</div>
                <div *ngIf="description.errors['pattern']">
                  Zawiera niedozwolone znaki
                </div>
                </div>
              </div>

              <div class="row buttons-row form-group">
                <div class="col-6 text-center">
                  <button class="btn btn-secondary px-3">Dodaj</button>
                </div>
                <div class="col-6 text-center">
                  <button class="btn btn-secondary px-3" mat-dialog-close>
                    Anuluj
                  </button>
                </div>
              </div>
              <div class="form-group">
                <div
                  *ngIf="f.submitted && !isSuccessful && f.errors"
                  class="alert alert-danger"
                  role="alert"
                >
                  Błąd dodawania
                </div>
              </div>
            </form>
          </div>

          <div class="alert alert-success" *ngIf="isSuccessful">
            <span *ngIf="isNew">Film został dodany</span>
            <span *ngIf="!isNew">Film został zaktualizowany</span>
          </div>
        </div>
        <div class="card text-white bg-secondary py-5 d-md-down-none">
          <div class="card-body card-image text-center">
            <div class="image">
              <img *ngIf="movie.image" src="{{ movie.image }}" />
              <mat-icon *ngIf="!movie.image">add_photo_alternate</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
