<h1 mat-dialog-title *ngIf="isRoleUpdated">INFORMACJA</h1>
<h1 mat-dialog-title *ngIf="passwordNotMatch">UWAGA</h1>
<h1 mat-dialog-title *ngIf="passwordNotUpdated || emailInUse">BŁĄD</h1>
<div mat-dialog-content *ngIf="isRoleUpdated">
  Użytkownik został zmodyfikowany
</div>
<div
  mat-dialog-content
  *ngIf="
    !isRoleUpdated && !passwordNotMatch && !passwordNotUpdated && !emailInUse
  "
>
  Użytkownik nie został zmodyfikowany
</div>
<div mat-dialog-content *ngIf="passwordNotMatch">Hasła nie są zgodne!</div>
<div mat-dialog-content *ngIf="passwordNotUpdated">
  Niepoprawne obecne hasło!
</div>
<div mat-dialog-content *ngIf="emailInUse">Adres email jest zajęty!</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
</div>
