@import "https://code.jquery.com/jquery-1.10.2.min.js";

@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600&display=swap";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.0.12/css/all.css";

.container {
  overflow-x: auto;
  margin-bottom: 7%;
  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: 0.2rem;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
    }

    .marginTop {
      margin-top: 10px;
    }

    .qrCodeFrame {
      width: fit-content;
      margin: auto;
    }

    .qrCode {
      position: relative;
      display: flex;

      .qrCode-input {
        height: 50px;
        padding: 10px;
        padding-right: 60px;
        background: inherit;

        box-sizing: border-box;
        border: 2px solid rgba(128, 128, 128, 0.8);

        &:focus {
          outline: none;
        }
      }
      .qrCode-button {
        position: absolute;
        right: 0;
        height: 50px;
        border-left: 2px solid rgba(128, 128, 128, 0.2);
        color: rgba(128, 128, 128, 0.8);
        border-radius: 0;
        font-size: 25px;
        line-height: 1.5;

        &:hover {
          color: green;
          border-left: 1px solid green;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
      margin-bottom: 20%;
  }
}
