<div class="container h-100" *ngIf="!isLoggedIn">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
      <div class="d-table-cell align-middle">
        <div class="text-center mt-4">
          <h1 class="h2">Rejestracja</h1>
          <p class="lead">Formularz rejestacji konta</p>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <form
                *ngIf="!isSignUpSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
              >
                <div class="form-group">
                  <label>Nazwa użytkownika</label>
                  <input
                    class="form-control form-control-lg"
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Wprowadź nazwę użytkownika"
                    [(ngModel)]="form.username"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                    pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9-]*"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="username.errors && f.submitted"
                  >
                    <div *ngIf="username.errors['required']">
                      Nazwa użytkownika jest wymagana
                    </div>
                    <div *ngIf="username.errors['minlength']">
                      Nazwa użytkownika musi się składać z co najmniej 3 znaków
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                      Nazwa użytkownika nie może być dłuższa niż 20 znaków
                    </div>
                    <div *ngIf="username.errors['pattern']">
                      Nazwa użytkownika zawiera niedozwolone znaki
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Adres email</label>
                  <input
                    class="form-control form-control-lg"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Wprowadź adres email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="email.errors && f.submitted"
                  >
                    <div *ngIf="email.errors['required']">
                      Adres email jest wymagany
                    </div>
                    <div *ngIf="email.errors['email']">
                      Nieporawna składnia adresu email np. user@user.pl
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Hasło</label>
                  <input
                    class="form-control form-control-lg"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Wprowadź hasło"
                    [(ngModel)]="form.password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
                    required
                    #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="password.errors && f.submitted"
                  >
                    <div *ngIf="password.errors['required']">
                      Hasło jest wymagane
                    </div>
                    <div *ngIf="password.errors['pattern']">
                      Hasło musi zawierać minimum 6 znaków, co najmniej jedną
                      wielką literę, cyfrę oraz znak specjalny
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Potwierdź hasło</label>
                  <input
                    class="form-control form-control-lg"
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Potwierdź hasło"
                    [(ngModel)]="confirmPassword"
                    required
                    #confirmPpassword="ngModel"
                    [ngClass]="{
                      'is-invalid': f.submitted && confirmPpassword.errors
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="confirmPpassword.errors && f.submitted"
                  >
                    <div *ngIf="confirmPpassword.errors['required']">
                      Potwierdzenie hasła jest wymagane
                    </div>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-lg btn-secondary">
                    Rejestracja
                  </button>
                  <div
                    class="alert alert-warning marginTop"
                    *ngIf="f.submitted && !isSignUpSuccessful && errorMessage"
                  >
                    Błąd rejestracji: {{ errorMessage }}
                  </div>
                </div>
              </form>
              <div
                class="form-group"
                *ngIf="isSignUpSuccessful && !qrCodeResponse"
              >
                <div class="qrCode">
                  <input
                    class="form-control form-control-lg qrCode-input"
                    type="text"
                    id="qeCode"
                    name="qrCode"
                    placeholder="Wprowadź kod 2FA"
                    [(ngModel)]="qrCode"
                    required
                    pattern="[0-9]{6,}"
                  />
                  <i
                    class="btn fas fa-check qrCode-button"
                    type="button"
                    (click)="checkQrCode()"
                  ></i>
                </div>
                <div *ngIf="qrCodeUrl" class="qrCodeFrame">
                  <img [src]="qrCodeUrl" alt="QR Code" />
                </div>
              </div>
              <div
                class="alert alert-success"
                *ngIf="isSignUpSuccessful && qrCodeResponse"
              >
                Konto zostało pomyślnie zarejestrowane!
              </div>
              <div
                class="alert alert-danger"
                *ngIf="isSignUpSuccessful && qrCodeInvalid"
              >
                Błędny kod 2FA
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
