<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group mb-0">
        <div class="card p4">
          <div class="card-body">
            <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <h1>Logowanie</h1>
              <p class="text-muted">Zaloguj się</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"
                  ><i class="fa fa-user"></i
                ></span>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  placeholder="Login"
                  [(ngModel)]="form.username"
                  required
                  #username="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                />
                <div
                  *ngIf="username.errors && f.submitted"
                  class="invalid-feedback"
                >
                  Nazwa użytkownika jest wymagana
                </div>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon"
                  ><i class="fa fa-lock"></i
                ></span>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Hasło"
                  [(ngModel)]="form.password"
                  required
                  #password="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                />
                <div
                  *ngIf="password.errors && f.submitted"
                  class="invalid-feedback"
                >
                  <div *ngIf="password.errors['required']">
                    Hasło jest wymagane
                  </div>
                </div>
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon"
                  ><i class="fa fa-qrcode"></i></span>
                <input
                  type="text"
                  class="form-control"
                  name="qrCode"
                  placeholder="Kod 2FA"
                  [(ngModel)]="form.qrCode"
                  required
                  pattern="[0-9]{6,}"
                  #qrCode="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && qrCode.errors }"
                />
                <div
                class="invalid-feedback"
                *ngIf="qrCode.errors && f.submitted"
              >
                <div *ngIf="qrCode.errors['required']">
                  Kod 2FA jest wymagany
                </div>
                <div *ngIf="qrCode.errors['pattern']">
                  Niepoprawny kod 2FA
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-6 text-center">
                  <button class="btn btn-secondary px-4">Zaloguj się</button>
                </div>
              </div>
              <div class="form-group">
                <div
                  *ngIf="f.submitted && isLoginFailed"
                  class="alert alert-danger"
                  role="alert"
                >
                  Dane logowania niepoprawne
                </div>
              </div>
            </form>
          </div>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Pomyślnie zalogowano
          </div>
        </div>
        <div class="card text-white bg-secondary py-5 d-md-down-none">
          <div class="card-body text-center">
            <div>
              <h2>Rejestracja</h2>
              <p>Nie masz jeszcze konta w naszym serwisie?</p>
              <button
                type="button"
                class="btn btn-secondary active mt-3"
                routerLink="/register"
              >
                Zarejestruj się!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
