@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css";
@import "https://code.jquery.com/jquery-1.10.2.min.js";

.container {
  margin-top: 5%;

  .text-muted {
    color: grey !important;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
    }

    .form-control {
      &.is-invalid {
        width: 79%;
      }
    }
  }
  .row .col-6 button {
    margin-bottom: 5px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
